html {
    width: 400px;
    
       
}


body {
    background-image: url("fundo2.jpg" );
    background-size: 420px; 
    background-repeat: repeat-y;
    padding-left: 0px;
    width: 100%;
    
           
  }

 
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ffffff;
    padding-bottom: 40px;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;	  
    
  }

#nome {  
    position:absolute;  
    width:290px;
    left: 100px;
     background-color: rgb(216, 216, 216);
}

#cpf {
    position:absolute;
    left: 100px;
    width:165px;
    background-color: rgb(216, 216, 216);
}

#endereco {
    position:absolute;
    left: 200px;
    width:190px;
    background-color: rgb(216, 216, 216);
}
#data {
    position:absolute;
    left: 200px;
    width:100px;
    height: 17px;
    background-color: rgb(216, 216, 216);
}

#hora-montagem {
    position:absolute;
    left: 200px;
    height: 17px;
    background-color: rgb(216, 216, 216);
}

#hora-desmonte {
    position:absolute;
    left: 200px;
    height: 17px;
    background-color: rgb(216, 216, 216);
}

#email {  
    position:absolute;  
    width:290px;
    left: 100px;
    background-color: rgb(216, 216, 216);
}    

#telefone {  
    position:absolute;  
    width:165px;
    left: 100px;
    background-color: rgb(216, 216, 216);
}  

#pago {
    position:absolute;  
    width:165px;
    left: 200px;
    background-color: rgb(216, 216, 216);
}


#rest {
    position:absolute;  
    width:165px;
    left: 200px;
    background-color: rgb(216, 216, 216);
}
  form {
    font-weight: bold;    
    padding-left: 12px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 
               -1px -1px 0px #000000, 
               -1px 1px 0px #000000,                    
                1px -1px 0px #000000,                  
                1px 0px 0px #000000;
  }

  .container {
    
            width: 400px;
            height: 600px;
            margin: 0px; 
            padding-left: 0px;
            padding-top: 0px;
            
  }
 
	
    button {
        position: absolute;
        height: 70px;
	width: 370px;
        background: #B9DFFF;
        color: #140c7e;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
        font-weight: bold;
        font-size: 20px;
    }
    
    button:hover {

        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
        font-weight: bold;
 }

li {
    list-style-type: none;
    font-size: 22px;
    color: #000;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;

}

#demo {

    position:absolute;  
    left: 10px;
    top: 820px;
}

input {
    border: none;
    border-radius: 10px 10px;
    
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000;
}


